{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
     
  <div class="grid-row">

    <div class="column-third">

      <h3 class="heading-medium mt0">Citizen</h3>

      <p>
        <span class="font-medium">Oliver Reed</span>
        <hr class="rule mt10 mb10" />
      </p>

      <p>
        <span class="label">Birthday</span><br />
        <span class="font-medium">19th October 1976</span>
      </p>

      <p>
        <span class="label">Address</span><br />
        <span class="font-medium">23 Railway Cuttings</span><br />
        <span class="font-medium">East Cheam</span><br />
        <span class="font-medium">London</span><br />
        <span class="font-medium">SM2 7YT</span><br />
      </p>

      <p>
        <span class="label">Telephone</span><br />
        <span class="font-medium">09870 654 321</span>
      </p>
      <p>
        <span class="label">Email</span><br />
        <span class="font-medium"><a href="">ollyreed@googlemail.com</a></span>
      </p>

      <p><a href="edit-citizen-details" class="button button-secondary">Edit citizen details</a></p>

    </div>{# /column-third #}

    <div class="column-third">

      <h3 class="heading-medium mt0">Employer</h3>

      <p>
        <span class="font-medium">Channel 4</span>
        <hr class="rule mt10 mb10" />
      </p>

      <p>
        <span class="label">Since</span><br />
        <span class="font-medium">
          8th August 2016
        </span>
      </p>
      <p>
        <span class="label">Working pattern</span><br />
        <span class="font-medium">4 days a week</span><br />
        <span class="font-medium">30 hours a week</span>
      </p>

      <p><a href="edit-employer-details" class="button button-secondary">Edit employer details</a></p>

    </div>{# /column-third #}

    <div class="column-third">

      <h3 class="heading-medium mt0">Employer contact</h3>
      <p>
        <span class="font-medium">Bob Carolgees</span><br />
        <hr class="rule mt10 mb10" />
      </p>
      <p>
        <span class="label">Relationship</span><br />
        <span class="font-medium">Line Manager</span><br />
      </p>
      <p>
        <span class="label">Telephone</span><br />
        <span class="font-medium">0768 432 4532</span><br />
      </p>
      <p>
        <span class="label">Email</span><br />
        <span class="font-medium"><a href="#">bob.carolgees@business.com</a></span>
      </p>
      <p>
        <span class="label">Address</span><br />
        <span class="font-medium">Channel 4</span><br />
        <span class="font-medium">Big Posh Office</span><br />
        <span class="font-medium">That There London</span><br />
        <span class="font-medium">LW3 7YT</span><br />
      </p>

      <p><a href="edit-employer-contact-details" class="button button-secondary">Edit employer contact details</a></p>

    </div>{# /column-third #}

  </div>{# /grid-row #}

</main>

{% endblock %}


