{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Approach 2</h1>

      <p>Include the word &lsquo;eligible&rsquo; in the question</p>

      <hr>

      <h2 class="heading-large">Is this person eligible for support?</h2>

      <form class="form" action="#" method="post">

        <div class="form-group">

          <fieldset class="inline">

          <div class="multiple-choice" data-target="support_yes_extra">
            <input id="support_yes" name="support" type="radio" value="Yes">
            <label for="support_yes"> Yes </label>
          </div>

          <div class="multiple-choice" data-target="support_no_extra">
            <input id="support_no" name="support" type="radio" value="No, redirect(/staff/v3/citizen/support/rejected)" aria-controls="support_no_extra" aria-expanded="false">
            <label for="support_no"> No </label>
          </div>

          <div class="panel panel-border-narrow js-hidden pb20" id="support_no_extra" aria-hidden="true">
            <label class="heading-medium" for="reason">Why?</label>
            <p class="form-hint">This text will be included in a rejection letter and sent to this person.</p>
            <textarea class="form-control text-full" name="reason" id="reason" style="width:50%;"></textarea>
          </div>

          </fieldset>

        </div>

        <input type="submit" class="button" value="Continue">

      </form>
      
    </div>
  </div>
</main>

{% endblock %}


